// $font-family-regular: 'TTLakes-Regular';
// $font-family-medium: 'TTLakes-Medium';
// $font-family-bold: 'TTLakes-Bold';

$font-size-base: 16px;
$line-height: 150%;
$letter-spacing-base: -0.01em;

$mobile-breakpoint: 576px;
$laptop-breakpoint: 767px;
$laptop-md: 1200px;
$desctop-breakpoint: 1439px;

$hidden-display: none;
$default-margin: 15px 0 20px 0;

$color-light: #f8f8f8;
$color-white: #ffffff;
$color-border: #eaeaea;
$color-primary: #ff4081;
$color-text-dark: #1b1c21;
$color-paganition: #ccc;
$color-text: #7e7e82;
$color-paganition-active: #b5b6bc;
$color-bg: #f9f9f9;
